img {
  width: 100%;
  clip-path: ellipse(100% 50% at 0% 50%);
}
.col-lg p {
  padding: 25px;
  margin: 25px;
}
.row {
  align-items: center;
}

.footer {
  position: relative;
  top: 50px;
}

@media (prefers-color-scheme: dark) {
  .col-lg p {
    background-color: var(--second-transparent);
  }
}

/* Smaller Screens */
@media only screen and (max-width: 990px) {
  col-lg p {
    margin: 40px;
  }
}
