img {
  background-color: var(--off-white);
  width: 25px;
  border-radius: 5px;
  margin: 10px;
}
.main-container {
  align-items: center;
}
.row {
  align-items: center;
  padding: 10px;
}
.contact-box {
  text-align: center;
  padding: 15px;
  border-radius: 25px;
  background-color: var(--second-trans-light);
}
.button {
  margin: 35px;
}
.contact-box p {
  margin-top: 45px;
  text-align: center;
}

.footer {
  position: relative;
  top: 50px;
}

@media (prefers-color-scheme: dark) {
  .contact-box {
    background-color: var(--second-transparent);
  }
}
