:root {
--main-color: #620041;
--off-main: #4f0235;
--second-color: #013a6e;
--second-transparent: rgba(1, 58, 110, 0.6);
--second-trans-light: rgba(1, 58, 110, 0.4);
--off-white: #fbf7e0;
--off-black: #3b3932;
--header-font: cursive;
}
/* Navbar Customization */
.bg-custom {
  background-color: var(--main-color);
}
.nav-item,
.nav-link {
  border-radius: 5px;
  transition-duration: .5s;
}
.active {
  background-color: var(--off-main);
}
.nav-link:hover {
  background-color: var(--off-main);
  box-shadow: 2px 2px 5px black;
  transition-duration: .5s;
}
.navbar-dark .navbar-brand {
  color: var(--off-white) !important;
  font-family: var(--header-font);
}

/* Body Customization */
body {
  color: var(--off-black);
  font-weight: bold;
  font-family: serif;
  background: var(--off-white);
}
a {
  color: var(--second-color);
}
.main-container {
  width: 100%;
}

.main-image {
  position: relative;
  text-align: center;
}
.main-image img {
  float: left;
  width: 100%;
  clip-path: ellipse(62% 38% at 36% 30%);
}
.main-image .main-body {
  color: var(--off-white);
  position: absolute;
  text-align: center;
  align-items: center;
  top: 35px;
  left: 35px;
  padding: 25px;
  background-color: var(--second-transparent);
  border-radius: 25px;
  transition-duration: .5s;
}
.main-image .main-header {
  font-family: var(--header-font);
  text-align: right;
}
.main-header p {
  font-size: 1.25em;
}
.main-link {
  padding: 10px;
  margin: 15px;
  background-color: var(--off-main);
  color: var(--off-white);
  border-radius: 15px;
  box-shadow: 2px 2px 5px black;
  transition-duration: .5s;
  text-decoration: none;
}
.main-link:hover {
  color: var(--off-white);
  text-decoration: none;
  box-shadow: 8px 8px 5px black;
  transition-duration: .5s;
}

.row {
  width: 100%;
  float: center;
  justify-content: center;
}
.main-text {
  line-height: 1.7em;
  font-size: 19px;
  font-style: oblique;
}

.main-container .row h1 {
  font-family: var(--header-font);
  margin: 40px;
  border-bottom: 2px solid var(--main-color);
}
.footer {
  position: absolute;
  top: 120%;
  padding: 20px;
  margin: 10px;
  padding-bottom: 5px;
  text-align: center;
}

.blue-box {
  border-radius: 25px;
  border: 1px solid var(--off-black);
  background-color: var(--second-trans-light);
  transition: .5s;
}

@media (prefers-color-scheme: dark) {
  body {
    color: var(--off-white);
    background: var(--off-black);
  }
  a {
    color: #04d1fe;
  }
  .main-container .row h1 {
    border-bottom: 2px solid var(--off-white);
  }
  .footer {
    background-color: var(--second-transparent);
  }
  .blue-box {
    border: 1px solid var(--off-white);
    background-color: var(--second-transparent);
  }
}

/* Smaller Screens */
@media only screen and (max-width: 730px) {
  .main-image .main-body {
    position: absolute;
    align-items: center;
    top: 350px;
    left: 35px;
  }
}
@media only screen and (max-width: 450px) {
  .main-image .main-body {
    top: 200px;
  }
}
/* Larger Screens */
@media only screen and (min-width: 900px) {
  .main-image .main-body {
    font-size: 1.5em;
  }
  .main-image .main-body h1 {
    font-size: 2em;
  }
}
